<%- include ("partials/header"); %>

<div class="contained">

    <form action="/" method="POST" enctype="multipart/form-data">
        <div class="form-group control">
            <label>Pet ID</label>
            <input class="form-control" type="text" name="animal[petId]" placeholder="PetId" required>
        </div>
        <div class="form-group control">
            <label>Species</label>
            <select class="form-control" name="animal[species]" id="species" onchange="changeMeds()">
                <option value="cat">Cat</option>
                <option value="dog">Dog</option>
                <option value="other">Other</option>
            </select>
        </div>

    
        <div class="form-group control">
            <Label for="image">Image</Label>
            <input type="file" id="image" name="image" value="" required>

        </div>

        <div class="form-group control">
            <label>Name</label>
            <input class="form-control" type="text" name="animal[name]" placeholder="Name" required>
        </div>
        <div class="form-group control">
            <label>Sex</label>
            <select class="form-control" name="animal[sex]">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="form-group control">
            <label>Breed</label>
            <input class="form-control" type="text" name="animal[breed]" placeholder="Breed">
        </div>
        <div class="form-group control">
            <label>Age</label>
            <input class="form-control" type="number" name="animal[age]" placeholder="Age">
        </div>
        <div class="form-group control" id="datepicker">
            <label>Intake Date</label>
            <input class="form-control" type="text" name="animal[intake]" placeholder="mm/dd/yyyy" required>
        </div>
        <div class="form-group control">
            <label>Altered?</label>
            <select class="form-control" name="animal[altered]">
                <option>No</option>
                <option>Yes</option>
            </select>
        </div>
        <div class="form-group control">
            <label>Altered Date</label>
            <input class="form-control" type="text" name="animal[alteredDate]" placeholder="mm/dd/yyyy">
        </div>
        <div id="cat">

            <div class="form-group control">
                <label>FVRCP 1</label>
                <select class="form-control" name="animal[fvrcp1]">
                    <option value="true">Yes</option>
                    <option selected value="false">No</option>
                </select>
            </div>

            <div class="form-group control">
                <label>FVRCP 2</label>
                <select class="form-control" name="animal[fvrcp2]">
                    <option value="true">Yes</option>
                    <option selected value="false">No</option>
                </select>
            </div>

            <div class="form-group control">
                <label>Feline Leukemia</label>
                <select class="form-control" name="animal[felineLeukemia]">
                    <option value="true">Yes</option>
                    <option selected value="false">No</option>
                </select>
            </div>
        </div>

        <div id="dog">

            <div class="form-group control">
                <label>DAPPV</label>
                <select class="form-control" name="animal[dappv]">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>
            <div class="form-group control">
                <label>DAPPV 2nd</label>
                <select class="form-control" name="animal[dappv2]">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>
            <div class="form-group control">
                <label>Dewormer Type:</label>
                <select class="form-control" name="animal[wormerType]">
                    <option value="">None</option>
                    <option value="rev">Revolution</option>
                    <option value="dron">Drontal</option>
                    <option value="pyra">Pyrantal</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-group control">
                <label>Dewormer 1st</label>
                <select class="form-control" name="animal[dewormer1]">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>
            <div class="form-group control">
                <label>Dewormer 2nd</label>
                <select class="form-control" name="animal[dewormer2]">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>
            <div class="form-group control">
                <label>Dewormer 3rd</label>
                <select class="form-control" name="animal[dewormer3]">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>
            <div class="form-group control">
                <label>Lymes Disease</label>
                <select class="form-control" name="animal[lymes]">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>
        </div>

        <div class="form-group control">
            <label>Rabies</label>
            <select class="form-control" name="animal[rabies]">
                <option value="true">Yes</option>
                <option selected value="false">No</option>
            </select>
        </div>

        <div class="form-group comment-control">
            <label>Comments</label>
            <textarea class="form-control" rows="3" name="animal[body]"></textarea>
        </div>
        <input class="btn btn-primary" type="submit">
    </form>
</div>




<%- include ("partials/footer") %>




<script>

    const cat = document.getElementById('cat');
    const dog = document.getElementById('dog');
    const species = document.getElementById('species');


    function selectElement(id, valueToSelect) {
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }

    window.onload = changeMeds();


    function changeMeds() {

        if (species.value == 'cat') {
            cat.style.display = 'block';
        }
        else {
            cat.style.display = 'none';
        }

        if (species.value == 'dog') {
            dog.style.display = 'block';
        }
        else {
            dog.style.display = 'none';
        }
    }
</script>

<script>
    datepickerDefault = new MtrDatepicker({
        target: "datepicker",
    });
</script>